body {
    background: url(/img/dust_scratches.png) repeat 0 0;
}
#box {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 1130px;
  zoom: .8;
}
.info {
  line-height: 2px;
  text-align: left;
}
h2 {
  background: url(/img/cream_dust.png) repeat 0 0;
  border-radius: 15px;
  text-shadow: 1px 1px 1px #ccc;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 440px;
  height: 200px;
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
}
.checkboxes {
  columns: 2;
  list-style: none;
  text-align: left;
  padding-left: 25px;
  width: 100%;
  font-size: 16px;
}
.checkboxes li {
  margin-bottom: 15px;
}
h3 {
  background: url(/img/cream_dust.png) repeat 0 0;
  border-radius: 15px;
  text-shadow: 1px 1px 1px #ccc;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  margin-top: 30px;
  padding: 10px;
  width: 950px;
  height: 270px;
  margin-left: 50px;
  text-align: center;
  vertical-align: text-bottom;
  img {
    margin-top:-7px;
    vertical-align: middle;
}
}
#map {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 800px;
  width: 1000px;
  padding-left: 30px;
  z-index: 1;
}
#demoTable{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 60px;
}
#demoTable tr:nth-child(even){background-color: #e5e5e5;}

#demoTable tr:hover {background-color: #ddd;}

#heatTable{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 390px;
}
#heatTable tr:nth-child(even){background-color: #e5e5e5;}

#heatTable tr:hover {background-color: #ddd;}

#busTable{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 600px;
}
#busTable tr:nth-child(even){background-color: #e5e5e5;}

#busTable tr:hover {background-color: #ddd;}

#myTable{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 400px;
}
#myTable tr:nth-child(even){background-color: #e5e5e5;}

#myTable tr:hover {background-color: #ddd;}

#timeCompTable{
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 340px;
}
#timeCompTable tr:nth-child(even){background-color: #e5e5e5;}

#timeCompTable tr:hover {background-color: #ddd;}

table{
  width: 200px;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 3px;
  text-align: left;
}
td{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 3px;
  text-align: left;
}
th{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
#floating-panel {
  background: url(/img/cream_dust.png) repeat 0 0;
  position: absolute;
  top: 340px;
  right: 0px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#markerLegend {
  background: url(/img/cream_dust.png) repeat 0 0;
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
  text-align: center;
}
#markerLegend h7 {
  margin-top: 0;
}
#markerLegend img {
  vertical-align: middle;
}
#float-panel {
  background: url(/img/cream_dust.png) repeat 0 0;
  position: absolute;
  top: 390px;
  right: 0px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#heatmapLegend {
  background: url(/img/cream_dust.png) repeat 0 0;
  position: absolute;
  top: 787px;
  right: 0px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.my-legend .legend-title {
  background: url(/img/cream_dust.png) repeat 0 0;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 70px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 70px;
}
.my-legend a {
  color: #777;
}
#button {
  position: absolute;
  top: 275px;
  left: 50%;
  z-index: 5;
  background-color: blue;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.has-error .help-inline.error-text {
  display: inline;
}
input[type=button] {

  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
input[type=button]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}  input[type=button]:active {
  position:relative;
	top:1px;
}

/*
.button {
    background-color: green;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}*/
